@import '../variables';
@import './media.scss';

#header {
  .active {
    .nav_page {
      text-decoration: underline;
      text-underline-position: under;
    }
  }
  .menu_transition {
    transition: 0.6s all;
  }
}
