@import "../../variables";
#faq {
  font-family: $j;
  background: linear-gradient(180deg, #000000 19.06%, rgba(0, 0, 0, 0) 100%);
  min-height: 100vh;
  filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.45));
}