@import "../../variables";

  .contacts h1 {
    font-family: $j;
  }
  .contacts h5 {
    font-family: $j;
  }
  .contacts input {
    font-family: $j;
  }
  .contacts button {
    font-family: $j;
  }
