.tab--active {
  color: #ffffff;
  background: linear-gradient(92.64deg, #44bcff 0%, #44b0ff 23.44%, #ff44ec 48.96%, #ff44ec 73.96%, #ff675e 100%);
  font-size: 13px;
}

.filter-item {
  color: #7d7d7d;
  font-size: 13px;
}
