@import 'variables';

@import './header/header';
@import './home/contact/contact';
@import './home/footer/footer';
@import './home/faq/faq';
@import './home/checkout/checkout.scss';
@import './home/hero/hero.scss';
@import './products/products.scss';
@import './about/about.scss';
@import './checkout/checkout.scss';
@import './productDetail/productDetail.scss';

html,
body {
  &::-webkit-scrollbar {
    width: 6px; /* ширина для вертикального скролла */
    height: 6px; /* высота для горизонтального скролла */
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 4em 0 0 4em;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 4em 0 0 4em;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 2);
  }
}
