@tailwind base;
@tailwind components;
@tailwind utilities;


body,html {
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #000000;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.container {
  width: 80%;
  margin: 0 auto;
}

a,a:hover {
  text-decoration: none;
}

#root{
    height: 100%;
}